/*----------內容大標題-----------*/
.title-style h1
{
	padding: 20px 0px;
}
/*----------內容-----------*/
.row img
{
	margin-top: 10px;
	width: 90%;
	box-shadow: 3px 3px 12px gray;
	padding: 10px;
	background: #f5f6fc;
	border-radius: 10%;
}
.row p
{
	margin-top: 10px;
    font-weight: bold;
	font-size: 20px;
	text-indent:40px
}
.row a
{
	color: blue;
}

