
/*---------多比商品--------*/

.fashion-blog
{
	margin: 180px 0px 150px 5%;
    width: 90%
}
.blog-img
{
	margin-top: 50px;
    margin-bottom: 20px;
	height: 300px;
	width: 450px;
	display: inline-block;
}
.blog-img img
{
	height: 100%;
	width: 100%;
}
.fashion-blog h5
{
	margin-top: 20px;
	font-weight: bold;
